div.home {
    display: flex;
    position: relative;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    max-height: 100%;

    div.content {
        width: 95%;
        height: 90%;

        background: var(--dark);

        .split {
            display: flex;

            width: 100%;
            height: 100%;

            align-items: center;
            justify-content: space-between;

            .column {
                display: flex;
                flex-direction: column;
                justify-content: center;

                font-size: 1.25rem;
                color: var(--text-secondary);
                width: 40%;
                height: 100%;
            }

            div.buttons {
                margin-top: 1rem;

                button {
                    background: none;
                    border: 2px solid var(--primary);
                    color: var(--primary);
                    padding: 1rem 2rem;
                    font-size: 1.25rem;
                    border-radius: 4px;
                    outline: none;

                    transition: 0.3s all ease-in-out;
                }

                button:hover, button:focus {
                    filter: brightness(1.25);
                }
            }

            .column:nth-child(1) {
                margin-left: 4rem;
            }

            @media only screen and (max-width: 595px) {
                flex-direction: column;

                .column {
                    width: 90%;
                    height: 50%;

                    align-items: center;
                    justify-content: center;

                    text-align: center;
                }

                div.buttons {
                    margin-top: 2rem;
                }

                .column:nth-child(1) {
                    margin-left: 0;
                }

                .column:nth-child(2) {
                    width: 100%;
                }
            }
            
            @media only screen and (min-width: 768px) {
                flex-direction: row;
            }
        }
    }

    h1, p {
        margin: 0;
    }
}