.typewriter {
    display: flex;
    align-items: center;

    p {
        display: inline-block;
    }

    .typing-indicator {
        display: inline-block;
        margin-left: 0.25em;
        width: 0.25em;
        height: 1em;
        background: var(--text-secondary);

        animation: blink 1s infinite linear;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}